:root {
    --maincolor: black;
    --mainbgcolor: white;
    --button-red: #ffaeae;
    --button-green: #adffb1;
    --radius: 12px;
    --card: 2px 2px 5px 1px #00000040;
    --card-inset: inset 0 3px 5px #00000040;
}

body {
    margin: 0;
    display: grid;
    grid-template-rows: auto minmax(95vh, 1fr) 48px;
    font-family: 'Open Sans', Helvetica, sans-serif;
    background-color: var(--mainbgcolor);
    color: var(--maincolor);
}

#header {
    padding: 12px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
#header h1 {
    margin: 0;
}
#header button {
    padding: 4px;
    border: none;
    background-color: var(--maincolor);
    color: var(--mainbgcolor);
    border-radius: 4px;
    cursor: pointer;
}
#header button:active {
    background-color: inherit;
    color: var(--maincolor);
}

#main {
    box-shadow: var(--card-inset);
    padding: 12px;
}
#main > div {
    display: grid;
    gap: 18px;
    grid-auto-rows: 1fr;
    grid-template-columns: repeat(auto-fill, minmax(270px, 1fr));
}

#books > div {
    box-shadow: var(--card);
    border-radius: var(--radius);
}
#books > div,
#books form {
    display: grid;
}

div.book {
    display: grid;
    gap: 8px;
    grid-template: auto 1fr auto auto / 1fr 1fr;
}
div.book h3,
div.book p,
div.book .read {
    grid-column: 1 / -1;
}
div.book h3,
#books legend {
    font-size: 1.2em;
    margin: 0;
    font-weight: bold;
}

div.book p {
    font-size: 0.9em;
    margin: 0;
}
#books label {
    font-size: 0.85em;
    letter-spacing: 1.5px;
    margin: 0;
}
#books button {
    font-weight: bold;
    border-radius: calc(var(--radius) - 4px);
    padding: 12px 0;
    cursor: pointer;
    color: var(--maincolor);
}
button:hover {
    opacity: 0.8;
}
button.btn-red {
    font-weight: bold;
    background-color: var(--button-red);
}
button.btn-red:active {
    border: 2px solid var(--button-red);
    background-color: inherit;
}
button.btn-green {
    font-weight: bold;
    background-color: var(--button-green);
}
button.btn-green:active {
    border: 2px solid var(--button-green);
    background-color: inherit;
}

/* Applies by default */
#action-btns-container {
    padding: 16px;
    display: grid;
    gap: 8px;
    grid-template-rows: 1fr  auto auto;
}
#action-btns-container h3 {
    margin: 0;
}

/* Applies when the form appears */
div.book,
#books form {
    padding: 16px;
}
#books fieldset {
    border: none;
    display: grid;
    gap: 8px;
    grid-template: repeat(5, auto) / 1fr 1fr;
    align-items: center;
}
#books fieldset div {
    display: grid;
    grid-auto-rows: auto;
}
#books input {
    padding: 3px 0;
    border: none;
    border-radius: 3px;
    border-bottom: 1px solid var(--maincolor);
    background-color: var(--mainbgcolor);
    color: var(--maincolor);
}
#books input:active,
#books input:focus {
    outline: none;
}
#books .error-message:not(.active) {
    display: none;
}
#books .error-message {
    color: var(--maincolor);
    background-color: var(--button-red);
    font-size: small;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    padding: 2px 5px;
    justify-self: start;
}
#books fieldset > *:not(button) {
    grid-column: 1 / -1;
}

#footer,
#footer a {
    display: flex;
    gap: 8px;
    align-items: center;
    justify-content: center;
}
#footer a {
    text-decoration: none;
    color: inherit;
}
#footer svg {
    height: 26px;
    fill: var(--maincolor);
}

@media (prefers-color-scheme: dark) {
    :root {
        --maincolor: white;
        --mainbgcolor: #333333;
        --button-red: #960000;
        --button-green: #008b17;
        --card: 0 0 0 2px #ffffff80;
        --card-inset: inset 0 2px 0 #ffffff80;
    }

    #books button:not(:active) {
        border-color: transparent;
    }
}