:root {
    --theme-color: #dddddd;
    --button-red: #ff4747;
    --button-green: #17b43f;
    --radius: 12px;
    --card: 2px 2px 5px 1px #00000040;
    --card-inset: inset 0 3px 5px #00000040;
}

body {
    margin: 0;
    display: grid;
    grid-template-rows: auto minmax(95vh, 1fr) auto;
    font-family: 'Open Sans', Helvetica, sans-serif;
}

#header {
    padding: 12px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
#header h1 {
    margin: 0;
}

#main {
    box-shadow: var(--card-inset);
    padding: 12px;
}
#main > div {
    display: grid;
    gap: 18px;
    grid-auto-rows: 1fr;
    grid-template-columns: repeat(auto-fill, minmax(270px, 1fr));
}

#books > div {
    box-shadow: var(--card);
    border-radius: var(--radius);
}
#books > div,
#books form {
    display: grid;
    align-content: center;
}
#books > div:not(#book-actions-container) {
    position: relative;
}
#books > div:not(#book-actions-container)::after {
    content: "";
    background-color: #ffc400;
    position: absolute;
    height: 2.5em;
    width: 100%;
    top: 8px;
}

div.book {
    display: grid;
    gap: 8px;
    grid-template: auto 1fr auto auto / 1fr 1fr;
}
div.book h3,
div.book p,
div.book .read {
    grid-column: 1 / -1;
}
div.book h3,
#books legend {
    font-size: 1.2em;
    margin: 0;
    font-weight: bold;
}

div.book p,
#books label {
    font-size: 0.9em;
    margin: 0;
}
#books button {
    font-weight: bold;
    border: none;
    border-radius: calc(var(--radius) - 4px);
    padding: 12px 0;
    cursor: pointer;
}
#books button:hover {
    opacity: 0.8;
}
button.btn-red {
    font-weight: bold;
    color: white;
    background-color: var(--button-red);
}
button.btn-red:active {
    color: var(--button-red);
    background-color: unset;
}
button.btn-green {
    font-weight: bold;
    color: white;
    background-color: var(--button-green);
}
button.btn-green:active {
    color: var(--button-green);
    background-color: unset;
}

div.book,
#books form {
    padding: 16px;
}

#book-actions-container fieldset {
    border: none;
    display: grid;
    gap: 8px;
    grid-template: repeat(5, auto) / 1fr 1fr;
    align-items: center;
}
#book-actions-container fieldset div {
    display: grid;
    grid-auto-rows: auto;
}
#book-actions-container input {
    padding: 3px 0;
    border: none;
    border-radius: 3px;
    border-bottom: 1px solid black;
}
#book-actions-container input:active,
#book-actions-container input:focus {
    outline: none;
}
#book-actions-container fieldset > *:not(button) {
    grid-column: 1 / -1;
}

#footer,
#footer a {
    display: flex;
    gap: 8px;
    align-items: center;
    justify-content: center;
}
#footer a {
    text-decoration: none;
    color: inherit;
}
#footer svg {
    height: 26px;
}